<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/index.css" />
	<link rel="icon" href="assets/hookah.png">
	<title>MosLoungebar</title>
</head>

<body>
	<img src="assets/menu1.svg" alt=""></img>
	<img src="assets/menu2.svg" alt=""></img>
</body>

</html>